{% extends "base.html" %}
{% load thumbnail static easy_maps_tags material_form %}

{% block head_title %}Gli eventi in programma{% endblock %}

{% block title %}Gli eventi in programma{% endblock title %}
{% block subtitle %}Qui puoi vedere gli eventi in programma e, se sei un capitanto, iscrivere la tua squadra{% endblock subtitle %}

{% block content %}
{% for event in event_list %}
     <div class="event">
         <div class="left image">
             {% thumbnail event.image "150x150" crop="center" as im %}
               <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="circle responsive-img"/>
             {% empty %}
               <img src="{% static 'adidas/img/no_profile_image_150x150.png' %}" width="150" height="150" class="circle responsive-img"/>
             {% endthumbnail %}
         </div>
         <h2>{{ event.title }}</h2>
         <p>{{ event.description }}</p>
         <div class="map">{% easy_map event.place %}</div>
         <div class="start">
            {{ event.start_date|date:"D d m" }} {{ event.start_time|time:"H:i" }}
         </div>
         <div class="end">
            {{ event.end_date|date:"D d m" }} {{ event.end_time|time:"H:i" }}
         </div>
         {% if request.user.is_captain %}
            {% if event.can_witwdraw %}
                <form method="POST" action="{% url 'event_join_withdraw' 'withdraw' %}">
                    {% csrf_token %}
                    {% form form=event.joinwithdraw_event_form %}{% endform %}
                    <button class="btn waves-effect waves-light" type="submit">Disiscrivi la squadra<i class="material-icons right">cross</i></button>
                </form>
            {% elif event.can_join %}
                <form method="POST" action="{% url 'event_join_withdraw' 'join' %}">
                    {% csrf_token %}
                    {% form form=event.joinwithdraw_event_form %}{% endform %}
                    <button class="btn waves-effect waves-light" type="submit">Iscrivi la squadra<i class="material-icons right">send</i></button>
                </form>
            {% endif %}
        {% endif %}
     </div>
{% endfor %}
{% endblock content %}
