{% extends "base.html" %}
{% load thumbnail static %}

{% block head_title %}Il tuo profilo{% endblock %}

{% block title %}Il tuo profilo{% endblock title %}
{% block subtitle %}Qui puoi gestire le tue informazioni personali ed i tuoi account social{% endblock subtitle %}

{% block content %}

<div class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s2">
          {% thumbnail player.image "150x150" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="circle responsive-img"/>
          {% empty %}
            <img src="{% static 'adidas/img/no_profile_image_150x150.png' %}" width="150" height="150" class="circle responsive-img"/>
          {% endthumbnail %}
          <div class="social-engagement">
          Hai {{ player.stars }} <i class="material-icons grey-text text-lighten-2">star</i> per la personalità Tango League
          </div>
      </div>
      <div class="col s8">
          <h2>Benvenuto {{ player.username }} </h2>
          <div class="email">Indirizzo email {{ player.email }}</div>
      </div>
      <div class="col s2">
          <a class="btn waves-effect waves-light" href="{% url 'profile_update' %}">Profilo<i class="material-icons left">mode_edit</i></a>
          <a class="btn waves-effect waves-light" href="{% url 'account_email' %}">Email<i class="material-icons left">mode_edit</i></a>
          <a class="btn waves-effect waves-light" href="{% url 'account_change_password' %}">Password<i class="material-icons left">mode_edit</i></a>
          <a class="btn waves-effect waves-light" href="{% url 'socialaccount_connections' %}">Social<i class="material-icons left">mode_edit</i></a>
          {% if player.is_captain %}
          <a class="btn waves-effect waves-light" href="{% url 'team_update' %}">Team<i class="material-icons left">mode_edit</i></a>
          {% endif %}

    </div>
  </div>
</div>
{% endblock %}
