{% extends "base.html" %}

{% block head_title %}Il tuo profilo{% endblock %}

{% block title %}Il tuo profilo{% endblock title %}
{% block subtitle %}Qui puoi gestire le tue informazioni personali ed i tuoi account social{% endblock subtitle %}

{% block content %}


<ul class="socialaccount_providers">
{% include "socialaccount/snippets/provider_list.html" with process="connect" %}
</ul>

{% for membership in memberships %}
<div class="card horizontal">
    <div class="card-stacked">
        <div class="card-content">
            <p>Team: {{ membership.team.name }}</p>
        </div>
        <!--div class="card-action">
            <a href="#">This is a link</a>
        </div-->
    </div>
</div>
{% endfor %}

<a class="btn waves-effect waves-light" href="{% url 'profile_update' %}">Modifica il profilo</a>
<a class="btn waves-effect waves-light" href="{% url 'account_change_password' %}">Cambia la password</a>
<a class="btn waves-effect waves-light" href="{% url 'account_email' %}">Modifica il profilo</a>

{% endblock %}
