{% extends "base.html" %}
{% load thumbnail static %}

{% block head_title %}Il tuo profilo{% endblock %}

{% block title %}Il tuo profilo{% endblock title %}
{% block subtitle %}Qui puoi gestire le tue informazioni personali ed i tuoi account social{% endblock subtitle %}

{% block content %}
    {% for player in player_list %}
    {% if forloop.first %}
    <table>
        <tr>
            <th>Ranking</th>
            <th>Picture</th>
            <th>Username</th>
            <th>Points</th>
        </tr>
    {% endif %}
    <tr>
        <td>#{{ forloop.counter }}</td>
        <td>
            <div class="col s2">
                  {% thumbnail player.image "50x50" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="circle responsive-img"/>
                  {% empty %}
                    <img src="{% static 'adidas/img/no_profile_image_50x50.png' %}" width="50" height="50" class="circle responsive-img"/>
                  {% endthumbnail %}
              </div>
          </td>
        <td>{{ player.username }}</td>
        <td>{{ player.points_sum|default_if_none:'0' }}</td>
    </tr>
    {% if forloop.last %}
        </table>
    {% endif %}
    {% empty %}
        La prima classifica verrà redatta dopo il primo evento
    {% endfor %}

{% endblock content %}
