{% extends "base.html" %}
{% load thumbnail static material_form %}

{% block head_title %}Il tuo team{% endblock %}

{% block title %}Team {{ team.name }}{% endblock title %}
{% block subtitle %}Qui puoi vedere gli iscritti al tuo team{% endblock subtitle %}

{% block content %}
{% if team %}
    {% for player in team.player_set.all %}
     {% if forloop.first %}
     <table>
         <tr>
             <th>Immagine</th>
             <th>Username</th>
             {% if request.user.is_captain %}
                <th></th>
             {% endif %}
         </tr>
     {% endif %}
    <tr>
        <td>
            <div class="col s2">
                  {% thumbnail player.image "50x50" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="circle responsive-img"/>
                  {% empty %}
                    <img src="{% static 'adidas/img/no_profile_image_50x50.png' %}" width="50" height="50" class="circle responsive-img"/>
                  {% endthumbnail %}
              </div>
          </td>
        <td>{{ player.username }}</td>
        <td>
        {% if request.user.is_captain %}
            {% if request.user != player %}
            <form method="POST" action="{% url 'team_remove' %}">
              {% csrf_token %}
              {% form form=team_remove_form %}{% endform %}
              <button class="btn waves-effect waves-light" type="submit">Rimuovi dal team<i class="material-icons right">send</i></button>
            </form>
            {% endif %}
        {% endif %}
        </td>
    </tr>
    {% if forloop.last %}
        </table>
    {% endif %}
    {% endfor %}
    {% if not request.user.is_captain %}
        <a class="btn waves-effect waves-light" href="{% url 'team_leave' %}">Abbandona la squadra</a>
    {% endif %}
{% else %}

    <form method="POST" action="{% url 'team_join' %}">
      {% csrf_token %}
      {% form form=join_team_form %}{% endform %}
      <button class="btn waves-effect waves-light" type="submit">Invia<i class="material-icons right">send</i></button>
    </form>
{% endif %}

{% if request.user.is_captain %}
    <div class="invite">
        <p>
            Per invitare altri giocatori ad unirsi alla tua squadra dovranno registrarsi sul sito e:
        </p>
        <ul class="browser-default">
            <li>
                inserire questo codice: {{ request.user.team.hash }} nella pagina "Squadra"
            </li>
            <li>
                visitare <a href="{% url 'team_join_hash' request.user.team.hash %}">questo indirizzo</a>.
            </li>

        </ul>
    </div>
{% endif %}

{% endblock content %}
