{% extends "base.html" %}
{% load thumbnail static material_form %}

{% block head_title %}Il tuo team{% endblock %}

{% block title %}Il tuo team{% endblock title %}
{% block subtitle %}Qui puoi vedere gli iscritti al tuo team{% endblock subtitle %}

{% block content %}
{% if request.user.team %}
    {% for player in player_list %}
     {% if forloop.first %}
     <table>
         <tr>
             <th>Immagine</th>
             <th>Username</th>
             {% if request.user.is_leader %}
                <th>Azioni</th>
             {% endif %}
         </tr>
     {% endif %}
    <tr>
        <td>
            <div class="col s2">
                  {% thumbnail player.image "50x50" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="circle responsive-img"/>
                  {% empty %}
                    <img src="{% static 'adidas/img/no_profile_image_50x50.png' %}" width="50" height="50" class="circle responsive-img"/>
                  {% endthumbnail %}
              </div>
          </td>
        <td>{{ player.username }}</td>
        {% if request.user.is_leader %}
          <td>
            <a class="btn waves-effect waves-light" href="TODO">Elimina dalla squadra</a>
          </td>
        {% endif %}
    </tr>
    {% if forloop.last %}
        </table>
    {% endif %}
    {% endfor %}
    {% if not request.user.is_leader %}
        <a class="btn waves-effect waves-light" href="{% url 'team_leave' %}">Abbandona la squadra</a>
    {% endif %}
{% else %}

    <form method="POST" action="{% url 'team_join' %}">
      {% csrf_token %}
      {% form form=join_team_form %}{% endform %}
      <button class="btn waves-effect waves-light" type="submit">Invia<i class="material-icons right">send</i></button>
    </form>
{% endif %}

{% endblock content %}
