{% load compress static %}
<!DOCTYPE HTML>
<html lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% compress css %}
        {% include 'material/includes/material_css.html' %}
        <link rel="text/less" href="{% static 'adidas/css/style.less' %}" type="text/css" charset="utf-8" />
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'adidas/js/jquery-2.1.1.min.js' %}" charset="utf-8"></script>
        {% include 'material/includes/material_js.html'%}
        <script type="text/javascript" src="{% static 'adidas/js/init.js' %}" charset="utf-8"></script>
    {% endcompress %}
    <script type="text/javascript" charset="utf-8">
        {% if messages %}
        (function ($) {
           $(function () {
                {% for message in messages %}
                    Materialize.toast('{{ message }}', 4000);
                {% endfor %}
            });
         })(jQuery);
        {% endif %}
    </script>

    <title>{% block head_title %} Benvenuto in {% endblock head_title%} - Tango Adidas</title>
</head>

<body>
    <header>
        {% block navigation %}
            {% include 'menu.html' %}
        {% endblock navigation %}
    </header>

    <div class="container">
      <div class="section">
          <article>
          <header>
              <div class="section no-pad-bot" id="index-banner">
                <div class="container">
                  <br><br>
                  <h1 class="header center">{% block title %}Adidas Template {% endblock title %}</h1>
                  <div class="row center">
                    <h5 class="header col s12 light">{% block subtitle %}subtitle text here{% endblock subtitle %}</h5>
                  </div>
                  {% block call_to_action %}
                  {% endblock call_to_action%}
                </div>
              </div>
          </header>

            {% block content %}
                Contenuto di prova
            {% endblock content %}
          </article>
      </div>
    </div>
    <!--aside>
		<h2>About section</h2>
		<p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
	</aside-->

{% include 'footer.html' %}
</body>

</html>
