<li>
    {% include 'menu_item.html' with url_title='Home' url_name='homepage' %}
</li>
{% if user.is_authenticated %}
<li>
    {% include 'menu_item.html' with url_title=user.username url_name='profile_view' %}
</li>
<li>
    {% include 'menu_item.html' with url_title='Esci' url_name='account_logout' %}
</li>
{% else %}
<li>
    {% include 'menu_item.html' with url_title='Registrati' url_name='account_signup' %}
</li>
<li>
    {% include 'menu_item.html' with url_title='Entra' url_name='account_login' %}
</li>
{% endif %}
