{% extends "socialaccount/base.html" %}

{% load material_form %}
{% load i18n %}
{% load socialaccount %}
{% load authauth %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}
{% block title %}{% trans "Account Connections" %}{% endblock %}
{% block subtitle %}
    In questa pagina puoi connettere o disconnettere gli account social.
    Attenzione: disconnettendoli non potrai accumulare i punti stella.
{% endblock %}

{% block content %}

<form method="post" action="{% url 'socialaccount_connections' %}">
{% csrf_token %}

{% if form.non_field_errors %}
<div id="errorMsg">{{ form.non_field_errors }}</div>
{% endif %}

{% get_missing_social_providers request as missing_providers %}
{% for missing_provider in missing_providers %}
<div class="row">
    Non sei connesso come tramite {{ missing_provider.name }}
    <a class="btn green waves-effect waves-light" href="{{ missing_provider.url }}">
        Connettiti a {{ missing_provider.name }}
    </a>
</div>
{% endfor %}

{% for base_account in form.accounts %}
{% with base_account.get_provider_account as account %}
<div class="row">
    Sei connesso come {{ account }} tramite {{ account.get_brand.name }}
    <button class="btn red waves-effect waves-light" id="id_account_{{ base_account.id }}" type="submit" name="account" value="{{ base_account.id }}">
        Disconnetti da {{ account.get_brand.name }}
    </button>
</div>
{% endwith %}
{% endfor %}

</form>

{% endblock %}
